* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', sans-serif;
  margin: 0;
  overflow: hidden; /* Prevent scrolling */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Make the Three.js canvas fill the page */
#three-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

/* Tablet Styling */
.tablet-container {
  position: absolute;
  left: 5vw;
  bottom: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* Change cursor to pointer on hover */
}

.tablet-outline {
  background-color: black;
  border-radius: 20px;
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s;
}

.tablet {
  background-color: rgb(135, 177, 240);
  border-radius: 15px;
  padding: 1vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s;
}

.instructions {
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
  width: 100%;
}